/* Start external CSS */
/* Header */
header {
    width: 100%;
    min-height: 200px;
    padding-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
#home header {
    background: no-repeat lightgrey ;
    background-size: 1500px;
}
#home header h2{
    padding-left: 40px;
    color: plum;
}
#gallery header {
    background: no-repeat lightgrey ;
    background-size: 1500px;
}
#gallery header h2{
    padding-left: 40px;
    color: plum;
}
#contact header {
    background: no-repeat lightgrey ;
    background-size: 1500px;
}
#contact header h2{
    padding-left: 40px;
    color: plum;
}


/* Nevigation */
.main-menu {
    /* margin-left: 227px; */
    display: flex;
    justify-content: start;
    font-weight: 400;
}
.main-menu ul li {
    background: rgba(135,235, 250, 0.8);
    list-style-type: none;
    display: inline;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-top: -16px; /* when introduce flex, some value need to manual adjust*/
}
.main-menu ul li a {
    text-decoration: none;
    color:#888; /* Mouse over */
}       
.main-menu ul li a:hover {
    color:#9ed034; /* Mouse over */
}
.main-menu ul li.active {
    background: purple;
    border: none; 
}   
.main-menu ul li.active a {
    color: #fff;
}  

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 3em auto auto 3em;
}
/* Section */
#home section {
    background: rgba(135,235, 250, 0.8);
    padding: 80px 50px;
}
section #animals {
    width: 100%;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #animals .animal {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #animals .animal img {
    width: 90px;
    height: 90px;
}
/* Table */
table {
    width:1200px;
    display: block;
    border: solid 2px rgba(202, 204, 202, 0.6);
    text-align: center;
}
caption {
    background: rgba(202, 204, 202, 0.6);
    font-size: 30px;
    text-transform: uppercase;
}
thead {
    background: rgba(202, 204, 202, 0.4);
}

/* Footer */
footer {
    background: lightcyan;
    width: 100%;
    padding:80px 50px;
}

/* Start contact form */
form {
    width: 1000px;
    margin-top: 10px;
    font-size: 12px;
}
fieldset {
    padding-top: 20px;
    padding-left: 50px;
}
legend {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color:#4977D1;
    margin-left: -20px;
}
input {
    display: block;
}
input[type="text"] {
    width: 300px;
}
input[type="email"] {
    width: 300px;
}
/* input[type="dropdown"] {
    font-size: 10px;
    margin-bottom: 15px;
} */
input[type="submit"] {
    background: #4977D1;
    color:#fff;
}
label {
    font-weight: bold;
    /* margin-top: 5px; */
} /*? padding*/
form .textbox input {
    margin-bottom: 10px;
    font-size:10px;
} /* select the right selector to apply changes*/
form .selectmenu select {
    margin-bottom: 15px;
    width: 130px;
    text-align: center;
}
form .dropdown label {
    display: block;
}
form #contactMethod {
    margin-bottom: 10px;
    font-size: 10px;
}
form #contactBox label {
    width: 300px;
    margin-bottom:2px;
}

form #contactBox input {
    width: 300px;
}
form .commentbox label {
    display: block;
    margin-top: 10px;
}
form .commentbox textarea {
    width: 300px;
    height:100px;   
}
form .button {
    margin: 10px auto 20px 200px;
    border: none;
    outline: none;
}
form .button input {
    width: 105px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px 10px;
}

/* End contact form */

/* Start photo gallery */
#gallery {
    position: relative;
}
ul#photos {
    background: lightgray;
    width: 100%;
    margin-top: 30px;
    position: relative;
}
#photos li {
    display: inline-block;
}
#photos li .photo {
    width: 100%;
    display: inline-block;
}
#photos .photo p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#photos .photo .caption {
    color:darkgreen;

}
#photos .photo .description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top:200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

#photos .photo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 20px 20px 20px 20px;
}

#photos .photo img:hover{
    cursor: pointer;
}
#photos .photo:hover .description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    /* width:120px; */
    /* top:200px;
    /* left:40px; */
    /* padding: 10px 10px 10px 10px; */
    background: #fff;
    opacity: 0.75;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

#infoBox {
    background: darkgrey;
    opacity: 0.95;
    width: 500px;
    height: 300px;
    position: absolute; 
    top: 300px;
    left: 20%;
    visibility: hidden; 
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkslategrey;
    padding: 20px 0px 0px 20px;
}

#info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: darkslategrey;
    padding: 20px 0px 0px 20px;
}

#closeInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: black;
    padding: 20px 0px 0px 20px;
}





/* Start photo gallery */



